.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: black;
  background-image: url("/img/background.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.description {
  font-size: 1.8rem;
  line-height: 1.3;
}
